h1{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    height: 50px;
    width: 200px;
    background-image: linear-gradient(to bottom, #E5E5E5,white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}