h1{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-image: linear-gradient(to bottom, #E5E5E5,white);
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;

}